{% extends "base.html" %}

{% block body %}
<div id="wrapper">
  {% include "partials/header.html" %}
  {% include "partials/menu.html" %}
  <div id="main" class="index">
    <h1 class="bg-dark text-light p-2">Tags</h1>
    <div id="tagCloud">
      {%- for term in terms %}
      <a role="button" href="{{ term.permalink }}" class="badge badge-light"> {{ term.name }} ({{ term.pages | length }})</a>
      {%- endfor %}
    </div>
  </div>
  {% include "partials/sidebar.html" %}
</div>
{% endblock body %}
