@{ 
	string Title = Model.WithoutSettings.String(BlogKeys.Title); 
	string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}
@Html.Partial("_Meta")
<title>@PageTitle</title>
<script defer src=@Context.GetLink("assets/js/jquery.min.js")></script>
<script defer src=@Context.GetLink("assets/js/browser.min.js")></script>
<script defer src=@Context.GetLink("assets/js/breakpoints.min.js")></script>
<script defer src=@Context.GetLink("assets/js/util.js")></script>
<script defer src=@Context.GetLink("assets/js/main.js")></script>
<script src=@Context.GetLink("assets/js/cookieconsent.min.js")></script>
<link rel="preconnect" href="https://commento.io">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147257002-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147257002-1');
</script>