<div>
        <script>window.cookieconsent.initialise({   "palette": {     "popup": {       "background": "#edeff5",       "text": "#838391"     },     "button": {       "background": "#4b81e8"     }   },   "theme": "edgeless" }); </script>
</div>
<div id="disqus_thread"></div>
<script>


var disqus_config = function () {
this.page.url = "@Context.GetLink(Model, true)";  
this.page.identifier = @Model.FilePath(Keys.RelativeFilePath).FileNameWithoutExtension.FullPath; 
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://michaelburch.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                      