@{
string Title = Document.GetString("Title");
string PageTitle = Document.GetString("PageTitle");
}
@Html.Partial("_meta")
  <title>@PageTitle</title>
  <link rel="preconnect" href="https://commento.io">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <!-- Pixel Code for https://app.tinyanalytics.io/ -->
  <script defer src="https://app.tinyanalytics.io/pixel/372hZCQ7steBAejd"></script>
  <!-- END Pixel Code -->
@if (Context.GetBool("GenerateCustomSearchIndex") && (Document.GetString("Title") == "Search"))
{
  <!-- Lunr search -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script> -->
  <script src=@Context.GetLink("assets/js/lunr.min.js")></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/pako@2.0.3/dist/pako_inflate.min.js"></script> -->
  <script src=@Context.GetLink("assets/js/pako_inflate.min.js")></script>
  <script src="@(Context.GetLink(Context.GetPath(WebKeys.SearchScriptPath)))"></script>
}