@using System.Security.Cryptography;
@using System.Text;
@{

	string GravatarHash;
	using (var md5 = MD5.Create())
	{
		var result = md5.ComputeHash(Encoding.ASCII.GetBytes("GravatarEmail"));
		GravatarHash = BitConverter.ToString(result).Replace("-", "").ToLower();
	}

}
<section id="sidebar">
	<!-- Intro -->
	<section id="intro">
		<a href="#" class="logo"><img src='/images/profile2023.jpg' alt="Michael Burch profile." /></a>
		<header>
			<h2>@Document.GetString("Author")</h2>
		</header>
	</section>
	<!-- About -->
	<section id="about" class="blurb">
		<p>@Document.GetString("Intro")</p>
		<ul class="icons">
			<li><a href="https://github.com/michaelburch" class="icon-github" target="_blank" rel="noopener">
					GitHub<span class="label">GitHub</span></a></li>
			<li><a href="mailto:me@michaelburch.net?subject=%20hello%20from%20michaelburch.net" class="icon-envelope">
					E-mail<span class="label">Email</span></a></li>
			<li><a href="https://linkedin.com/in/michaelpburch" class="icon-linkedin" target="_blank" rel="noopener">
					LinkedIn<span class="label">LinkedIn</span></a></li>
			<li><a href="https://bsky.app/profile/michaelburch.net" class="icon-bsky" target="_blank" rel="noopener">
					Bluesky<span class="label">Bluesky</span></a></li>
			<li><a href="/feed/index.xml" class="icon-rss" target="_blank"> RSS<span class="label">RSS</span></a></li>
			<li><a href="https://mastodon.social/@@michaelburch" class="icon-mastodon" target="_blank" rel="noopener">
					Mastodon<span class="label">Mastodon</span></a></li>
			
		</ul>
	</section>
	<!-- Footer -->
	<section id="footer">
		<p class="copyright">&copy; Copyright @DateTime.Now.ToString("yyyy"), @Document.GetString("Author"). Design: <a
				href="https://html5up.net" target="_blank" rel="noopener">HTML5Up</a></p>
		<p></p>
	</section>
</section>