{% extends "base.html" %}

{% block body %}
<div id="wrapper">
  {% include "partials/header.html" %}
  <div id="main" class="index">
    <ul class="post-list">
      {%- for post in paginator.pages %}
      {%- include "partials/post_item.html" %}
      {%- endfor %}
    </ul>

    <ul class="actions pagination">
      <li><a href="{{ paginator.previous | default(value='#') }}" class="button large next{% if not paginator.previous %} disabled{% endif %}">Newer Posts</a></li>
      <li><a href="{{ paginator.next | default(value='#') }}" class="button large previous{% if not paginator.next %} disabled{% endif %}">Older Posts</a></li>
    </ul>
    <p>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</p>
  </div>
  {% include "partials/site_footer.html" %}
</div>
{% endblock body %}
