{% extends "base.html" %}

{% block body %}
<div id="wrapper">
  {% include "partials/header.html" %}
  <div id="main">
    <article class="post page">
      <header>
        <div class="title">
          <h2>{{ page.title }}</h2>
        </div>
        <div class="meta">
          {%- if page.date %}
          <time class="published" datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format="%B %d, %Y") }}</time>
          {%- endif %}
        </div>
      </header>
      <span class="image featured">
        {%- if page.extra.image %}
        <figure>
          <img class="featured" src="{{ get_url(path=page.extra.image) }}" alt="{{ page.extra.image_caption | default(value='') }}" />
          {%- if page.extra.image_caption %}
          <figcaption>{{ page.extra.image_caption }}</figcaption>
          {%- endif %}
        </figure>
        {%- endif %}
      </span>
      {{ page.content | safe }}
    </article>
  </div>
</div>
{% endblock body %}
