{% extends "base.html" %}

{% block body %}
<div id="wrapper">
  {% include "partials/header.html" %}
  {% include "partials/menu.html" %}
  <div id="main" class="index">
    <h1 id="results-title" class="bg-dark text-light p-2"></h1>
    <div id="search-results"></div>
  </div>
  {% include "partials/sidebar.html" %}
</div>
{% endblock body %}

{% block scripts %}
<script defer src="{{ get_url(path='elasticlunr.min.js') }}"></script>
<script defer src="{{ get_url(path='assets/js/search.js') }}"
  data-index-url="{{ get_url(path='search_index.en.json') }}"></script>
{% endblock scripts %}
