{% extends "base.html" %}

{% block body %}
<div id="wrapper">
  {% include "partials/header.html" %}
  {% include "partials/menu.html" %}
  <div id="main" class="index">
    <h1 class="bg-dark text-light p-2">{{ section.title }}</h1>
    {%- set years = section.pages | group_by(attribute="year") %}
    {%- for year, posts in years %}
    <h1 id="{{ year }}" class="bg-dark text-light p-2">{{ year }}</h1>
    {%- for post in posts %}
    <article class="mini-post">
      <header>
        <div class="title">
          <h3><a class="header" href="{{ post.permalink }}">{{ post.title }}</a></h3>
          {%- if post.extra.lead %}
          <p>{{ post.extra.lead }}</p>
          {%- endif %}
        </div>
        <div class="meta">
          <time class="published" datetime="{{ post.date | date(format='%Y-%m-%d') }}">{{ post.date | date(format="%B %d, %Y") }}</time>
        </div>
      </header>
      {%- if post.extra.image %}
      <a href="{{ post.permalink }}" class="image featured"><img src="{{ get_url(path=post.extra.image) }}" alt="" /></a>
      {%- endif %}
    </article>
    {%- endfor %}
    {%- endfor %}
  </div>
  {% include "partials/sidebar.html" %}
</div>
{% endblock body %}
