.icon-info-circle:before {
    content: "\e902";
  }
  .icon-twitter:before {
    content: "\e903";
  }
  .icon-linkedin:before {
    content: "\e904";
  }
  .icon-feed:before {
    content: "\e905";
  }
  .icon-rss:before {
    content: "\e905";
  }
  .icon-search:before {
    content: "\e906";
  }
  .icon-bars:before {
    content: "\e907";
  }
  .icon-navicon:before {
    content: "\e907";
  }
  .icon-reorder:before {
    content: "\e907";
  }
  .icon-envelope:before {
    content: "\e901";
  }
  .icon-mastodon:before {
    content: "\e908";
    font-size: smaller;
  }
  .icon-github:before {
    content: "\e900";
  }
  
@font-face {
    font-family: 'icomoon';
    src:  url('../webfonts/icomoon.eot?ksm2yp');
    src:  url('../webfonts/icomoon.eot?ksm2yp#iefix') format('embedded-opentype'),
      url('../webfonts/icomoon.ttf?ksm2yp') format('truetype'),
      url('../webfonts/icomoon.woff?ksm2yp') format('woff'),
      url('../webfonts/icomoon.svg?ksm2yp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

